.footer_menu {
    list-style: none;
    padding: 12px 10%;
    border-top: 1px solid;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    height: 2.5em;
}

#menu-item-19 {
    pointer-events: none;
}

@media all and (max-width: 680px) {
    .footer_menu {
        flex-direction: column;
        align-items: center;
        padding-top: 44px;
    }

   .footer_menu .menu-item {
        padding-bottom: 24px;
    }
}