.navbar {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-container {
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.header {
    margin-top: 28px;
    margin-bottom: 66px;
    margin-left: 10%;
    margin-right: 10%; 
}

.menu-item {
    font-family: 'Space-mono';
    font-size: 16px;
    font-weight: 400;
}

.navbar .menu-item {
    padding-left: 2.8em;
  }

#button {
    color: black;
}

