.navbar {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo-container {
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

header {
    margin-top: 28px;
    margin-bottom: 66px;
    margin: 0 10%;
  }