.info-pic {
    font-family: 'space-mono';
    letter-spacing: 0.1em;
    margin: 40px 10%;
    height: 52.75em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 397px;
  }

.info {
    min-width: 50%;
    margin-right: 3%;
    border-bottom: 1px solid;
}

.year {
    padding-bottom: 30px;
}

.part {
    flex: 1;
}

.title-pic {
    font-family: 'space-mono-italic';
    font-size: 4.1em;
    font-weight: 400;
    line-height: 58px;
    width: 450px;
    padding-top: 30px;
}

.info-margin {
    margin: 10px 0px;
}

.ref {
    margin-top: -30px;
}

.gallery-img {
    height: 100%; 
    width: 100%;
    min-height: 397px;
}

.gallery-pic, .img-full {
    height: 100%; 
    width: 100%;
}

.is-interested-text {
    font-family: 'poppins';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-right: 9.3em;
}

.is-interested {
    height: 118px;
    margin: 0 10%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.is-interested-text-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    background-color: #D8D8D8;
    border: transparent;
    border-radius: 2px;
    font-family: 'space-mono';
    font-size: 14px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.0004);
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 50px;
    transition: background-color 0.5s ease-in-out;
}

.button:hover {
    background-color: black;
    color: white
}

.is-interested-slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.is-interested-arrows {
    width: 135px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.img-container {
    display: flex;
}

.previous-img, .next-img {
    width: 108px;
    height: 80px;
}
  
/* You may also like */
.you-may-also-like {
    font-family: 'space-mono';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 26.66px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.button-container { 
    margin: 0 10%;
    display: flex;
    justify-content: center;
}

.all-pics-button {
    margin-top: 2.5em;
    margin-bottom: 3em;
}


/* Gallery single page */

.gallery {  
    margin: 0 10%;
   display: flex;
    flex-direction: column;
    /*  justify-content: center;
    align-items:center;*/
}



.gallery-home {  
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container { /*used for home page too */
    max-width: 1250px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Écart horizontal */
}



/* Media Queries */
/* Tablette */
@media all and (max-width: 768px) {
    .info-pic {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: inherit;
    }

    .info {
        border: none;
    }

    .pic-container {
        display: flex;
        justify-content: center;
    }

    .title-pic {
        padding-top: inherit;
    }

    .is-interested-slider {
        display: none;
    }

    .is-interested-text-button {
        flex-direction: column;
    } 

    .is-interested-text {
        padding-left: 7.65vh;
    }

    .is-interested {
        margin: 0;
        border-top: 1px solid black;
        justify-content: center;
        padding-bottom: 15px;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .you-may-also-like {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .button-container {
        display: none;
    }
}

@media all and (max-width: 425px) {
    .title-pic {
        width: inherit;
        font-size: 3em;
    }
    .info-margin {
        font-size: 0.875em;
    }
}

@media all and (max-width: 375px) {
    .is-interested-text {
       font-size: 0.813em;
       padding-left: 5vh;
    }
}

@media all and (max-width: 320px) {
    .is-interested-text {
       font-size: 0.688em;
       padding-left: inherit;
    }

    .is-interested-text-button .button {
        width: 263px;
    }
}