.site-title {
    font-family: 'space-mono-bolditalic';
    font-weight: 700;
    line-height: 142.18px;
    font-size: 6em;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    position: absolute;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.hero > img {
    width: 100%;
    max-height: 122.7vh;
}

.gallery-container .gallery-img {
    height: 32.4vw;
    position: relative;
    max-height: 550px;
    max-width: 550px;
}

.gallery-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
 }


/* Effets au hover  */

.gallery-icons-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in-out 0.2s;
    opacity: 0;
}

.gallery-icons-hover .icon-full {
    position: relative;
    top: 26px;
    right: -46%; 
}

.resize-pic:hover .gallery-icons-hover {
    opacity: 1;
}

.resize-pic  {
    position: relative;   
}

.gallery-icons-hover .icon-eye {
    position: relative;
    top: 51%;
    left: 49%;
}

.gallery-icons-hover img {
    position: absolute;
    width: 35px;
    height: 35px !important;
    display: block;
    margin: 0 auto;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.gallery-data {
    position: relative;
    top: 5px;
    right: 2px;
    color: white;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-category a {
    color: inherit;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
  }

.resize-pic:hover .icon-eye, .resize-pic:hover .icon-full, 
.pic-container:hover .icon-eye, .pic-container:hover .icon-full,
.resize-pic:hover {
    opacity: 1;
}

/* filtres */

.filters-container {
    max-width: 1148px;
    padding-bottom: 4.6em;
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-format-filters {
    width: 37vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.formats-filter {
    padding-left: 20px;
}

#formats,#categories, #sort-by-date {
    font-family: 'Poppins';
    font-size: 0.8em;
    border: 1px solid #c4c4c4;
    width: 17em;
}

.filter-column select {
    border-radius: 4px;
}