@font-face {
    font-family: 'space-mono-bolditalic';
    src: url('../fonts/space-mono/SpaceMono-BoldItalic.woff') format('woff'),
        url('../fonts/space-mono/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono-italic';
    src: url('../fonts/space-mono/SpaceMono-Italic.woff') format('woff'),
        url('../fonts/space-mono/SpaceMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono';
    src: url('../fonts/space-mono/SpaceMono-Regular.woff') format('woff'),
        url('../fonts/space-mono/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Light.woff') format('woff'),
        url('../fonts/poppins/Poppins-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}